<div class="container-fluid">
<nav class="navbar navbar">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Twitter</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <form action="/tweets/new" class="navbar-form" role="Tweet" method="post">
            <input type="text" name="description" class="form-control" placeholder="tweet">
            <button type="submit" class="btn btn-default">TWEET</button>
          </form>
        </li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
    <div class="span4" style="background-color:lavenderblush;">
      <img class="userpic" src="<%= current_user.gravatar_url %>">
      <p> Username: @<%= current_user.username %> </p>
      <p> Followers: <%= current_user.followers.count %></p>
      <p> Following: <%= current_user.following.count %></p>
    </div>
    <div class="span8" style="background-color:lavender;">
      <div class="tweets-dashboard">
      <ul>
          <% @tweet.each do |tweet| %>
          <% if tweet.user %>
            <p><%= tweet.description %></p>
            <p>@<%= tweet.user.username %></p>
              <form class="follow-button" action="/relationships/new" method="POST">
              <input type='hidden' name="followed_id" value="<%= tweet.user_id %>">
              <button type="submit" class="btn btn-primary" name="follow">Follow</button>
            </form>
          <% end %>
        <% end %>
      </ul>
    </div>
    </div>
  </div>

</div>
